<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="static/css/style.css"rel="stylesheet"></link>
  </head>

  <body>
      <input id ="maths" type="button" name="maths" value="maths" />
      <input id ="layout" type="button" name="layout" value="layout" />

      <div id = "boxes1" class = "boxes">
        <span id = "box1" class="box"></span>
        <span id = "box2" class="box"></span>
        <span id = "box3" class="box"></span>

        <span id = "box4" class="box"></span>
        <span id = "box5" class="box"></span>
        <span id = "box6" class="box"></span>

        <span id = "box7" class="box"></span>
        <span id = "box8" class="box"></span>
        <span id = "box9" class="box"></span>

        <span id = "box10" class="box"></span>
        <span id = "box11" class="box"></span>
        <span id = "box12" class="box"></span>

        <span id = "box13" class="box"></span>
        <span id = "box14" class="box"></span>
        <span id = "box15" class="box"></span>

        <span id = "box16" class="box"></span>
        <span id = "box17" class="box"></span>
        <span id = "box18" class="box"></span>

        <span id = "box19" class="box"></span>
        <span id = "box20" class="box"></span>
        <span id = "box21" class="box"></span>

        <span id = "box22" class="box"></span>
        <span id = "box23" class="box"></span>
        <span id = "box24" class="box"></span>
     </div>

    <script type="text/javascript" src="static/scripts/main.js"></script>
  </body>

</html>