<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="static/css/style.css"rel="stylesheet"></link>
  </head>

  <body>
    <section id="example">
      <div>
        <input id ="hover-over-me" type="button" value="Hover over me!" />
        <span id="hover-over-me-output"></span>
      </div>

      <div>
        <input id ="click-me" type="button" value="Click me!" />
        <span id="click-me-output"></span>
     </div>

      <div>
        <input id ="focus-me" type="text" value="Focus me!" />
        <span id="focus-me-output"></span>
     </div>

      <div>
        <input id ="type-in-me" type="text" value="Type in me!" />
        <span id="type-in-me-output"></span>
     </div>

    </section>
    <script type="text/javascript" src="static/scripts/main.js"></script>
  </body>

</html>