<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="static/css/style.css"rel="stylesheet"></link>
  </head>

  <body>
    <body>
        <div id="container1">
          <div class="moving-box" id="moving-box-left-margin">Transition using margin-left</div>
        </div>
        <div id="container2">
          <div class="moving-box" id="moving-box-transform">Transition using transform</div>
        </div>

    </body>
    <script type="text/javascript" src="static/scripts/main.js"></script>
  </body>

</html>